* {
    font-family: monospace;
}

p {
    max-width: 80ch;
}

.logo {
    width: 120px;
    height: auto;
}

.shot {
    display: block;
    max-width: 100%;
    width: 600px;
    height: auto;
    margin-bottom: 10px;
}

.entry img,
.entry svg {
    max-width: 20px;
    max-height: 20px;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}
