*,*::before,*::after {
    font-family: monospace;
}

.container {
    width: fit-content;
    margin: auto;
}

p {
    max-width: 80ch;
}

.subtitle { 
    font-size: 1.17em;
}

.article-heading {
    font-size: 1.5em;
}

.shot {
    display: block;
    max-width: 100%;
    width: 600px;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
}

.entry img,
.entry svg {
    width: 20px;
    height: 20px;
}

.entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
}
